# Lists in Python

In [2]:
# creating list 
list=[]
print(type(list))

<class 'list'>

In [3]:
mixed_list=["Aniket",1,2,3.6,True]
mixed_list

['Aniket', 1, 2, 3.6, True]

In [4]:
# Accessing list elements
fruits=["banana", "gauva","kiwi","orange","apple"]

In [6]:
print(fruits[2])
print(fruits[0])
print(fruits[-1])

kiwi
banana
apple

In [8]:
print(fruits[1:])
print(fruits[2:])

['gauva', 'kiwi', 'orange', 'apple']
['kiwi', 'orange', 'apple']

In [9]:
# Modifying list
fruits

['banana', 'gauva', 'kiwi', 'orange', 'apple']

In [10]:
fruits[1]="watermelon"

In [11]:
fruits

['banana', 'watermelon', 'kiwi', 'orange', 'apple']

In [13]:
#  List Methods
fruits.append("cherry") #adding element at last index
fruits

['banana', 'watermelon', 'kiwi', 'orange', 'apple', 'cherry']

In [15]:
fruits.insert(1,"lemon") #adds element at particular index
fruits

['banana', 'lemon', 'lemon', 'watermelon', 'kiwi', 'orange', 'apple', 'cherry']

In [16]:
fruits.remove("lemon") #Removing the first occurence of an item
fruits

['banana', 'lemon', 'watermelon', 'kiwi', 'orange', 'apple', 'cherry']

In [18]:
# Remove and return the last element
popped_fruit=fruits.pop()
print(popped_fruit)
print(fruits)

cherry
['banana', 'lemon', 'watermelon', 'kiwi', 'orange', 'apple']

In [19]:
index=fruits.index("kiwi")
index

3

In [ ]:
fruits.insert(1,"lemon")
fruits.count("lemon")

2

In [ ]:
fruits.sort()  #Sort the list oin ascending order

In [22]:
fruits

['apple', 'banana', 'kiwi', 'lemon', 'lemon', 'orange', 'watermelon']

In [23]:
fruits.reverse() #Reverse the list

In [24]:
fruits

['watermelon', 'orange', 'lemon', 'lemon', 'kiwi', 'banana', 'apple']

In [25]:
fruits.clear() #remove all items from the list
fruits

[]

In [28]:
## Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
numbers[::3]

[1, 4, 7, 10]

In [30]:
## Iteration over list
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## Iterating with Index
for index, num in enumerate(numbers): ## Using inbuilt function enumerate for index
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

## List Comprehension

In [33]:
lst=[]
for i in range(10):
    lst.append(i**2)
    
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
[x**2  for x in range(10)] ## This is list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

*Syntax*
- [Expression for item in iterable]
- with conditional Logic-> [Expression for item in iterable if Condition]
- Nested list comprehension->[Expression for item1 in iterable1 for item2 in iterable2]

In [37]:
## Basic List Comprehension
squre=[num**2 for num in range(10)]
squre

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
## List comprehension with conditional Logic
even_num=[x for x in range(20) if x%2==0]
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [39]:
## Nested list Comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[(i,j)for i in lst1 for j in lst2]
pair

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd')]

In [40]:
##  List comprehension with funstion calls

names=["Aniket","sankalp","Anmol","Rahul","sufiyan","Devyani"]
len_words=[len(word) for word in names]
print(len_words)

[6, 7, 5, 5, 7, 7]

<hr>