## Tuples in Python

In [1]:
#Creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

- List can be  converted into Tuples
- Tuples can be converted into Listm

In [4]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
#Typles
mixed_tuple=("Name",1 ,33.5 ,True)
mixed_tuple

('Name', 1, 33.5, True)

In [7]:
## Accesing the Tuples element
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])
print(numbers[2:5])
print(numbers[::-1])

3
6
(3, 4, 5)
(6, 5, 4, 3, 2, 1)

In [9]:
## Tuples Operation

Concatination_tuple=numbers+mixed_tuple
print(Concatination_tuple)

(1, 2, 3, 4, 5, 6, 'Name', 1, 33.5, True)

In [10]:
mixed_tuple*3

('Name', 1, 33.5, True, 'Name', 1, 33.5, True, 'Name', 1, 33.5, True)

In [11]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable Nature of Tuples
# Tuples are immutable , meaning their elements cannot be changed once assigned

lst=[1,2,3,5,4]
print(lst)

lst[2]="Aniket"
print(lst)

[1, 2, 3, 5, 4]
[1, 2, 'Aniket', 5, 4]

In [ ]:

numbers

(1, 2, 3, 4, 5, 6)

In [15]:
numbers[1]=22

TypeError: 'tuple' object does not support item assignment

In [17]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3)) # return 1st index of the value basically finds index for given element

1
2

In [19]:
## Packing and Unpacking Tuple
#Packing Tuple

packed_tuple=1,3.17,"adbul"
print(packed_tuple)

(1, 3.17, 'adbul')

In [20]:
## Unpacking Tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
3.17
adbul

In [21]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first , *middle, last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [24]:
#Nested List
lst=[[1,2,3,4],[5,6,7,8],[3.14,22,"Aniket",True]]
lst[0][0:3]

[1, 2, 3]

In [28]:
lst=[[1,2,3,4],[5,6,7,8],(3.14,22,"Aniket",True)]
lst[2][0:3]

(3.14, 22, 'Aniket')

In [33]:
# Nested Tuples

nested_tuples=((1,2,3,4,5,6),(45,1.2,3),("abc",23,55,56))
print(nested_tuples[2])
print(nested_tuples[2][0])

('abc', 23, 55, 56)
abc

In [36]:
## Iterating over nested tuples

for sub_tuples in nested_tuples:
    for item in sub_tuples:
        print(item , end=" ")     
    print()

1 2 3 4 5 6
45 1.2 3
abc 23 55 56

 <hr>